<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouFood"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EventInfoScreen"
            android:exported="false" />
        <activity
            android:name=".EventsScreen"
            android:exported="false" />
        <activity
            android:name=".SettingsScreen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAelUprslnEce5ohSClHArWiK5Q-3KGCMs" />

        <activity
            android:name=".ReviewScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name=".TruckScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name=".NearbyTrucksScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name=".UserScreen"
            android:exported="false"
            android:label="@string/title_activity_user_screen"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name=".SignupScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name=".LoginScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YouFood.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>