<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodtruckfindermi.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouFood"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>


        <activity
            android:name="com.foodtruckfindermi.client.EventInfoScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAelUprslnEce5ohSClHArWiK5Q-3KGCMs" />

        <activity
            android:name="com.foodtruckfindermi.client.TruckScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name="com.foodtruckfindermi.client.UserScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name="com.foodtruckfindermi.client.SignupScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name="com.foodtruckfindermi.client.LoginScreen"
            android:exported="false"
            android:theme="@style/Theme.YouFood.NoActionBar" />
        <activity
            android:name="com.foodtruckfindermi.client.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YouFood.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>